# Core functionality - changes here should be rare!
/src/app.py                   @rosendopili
/src/backend/database.py      @rosendopili
/src/backend/routers/auth.py  @rosendopili

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rosendopili
